
/*-------------------------------------------*/
/* ブロック関連
/*-------------------------------------------*/

.section {
  clear:both;
  overflow:visible !important;
  margin:0 0 50px;
  padding:0;
}
/* clearfix処理 */
.section:after {
  content:".";
  display:block;
  height:0;
  font-size:0;
  clear:both;
  visibility:hidden;
}


/*-------------------------------------------*/
/* フロート関連                              */
/*-------------------------------------------*/
.left {float:left;}
.right {float:right;}
.center {margin:0 auto;}
.clear {clear:both;}
.clearfix {overflow:visible;}
.clearfix:after {
  content:".";
  display:block;
  height:0;
  font-size:0;
  clear:both;
  visibility:hidden;
}

.of-hidden {
  overflow: hidden;
}
.border-box {
  box-sizing: border-box;
}


/*-------------------------------------------*/
/* ボックス化                                */
/*-------------------------------------------*/

/* jQueryの「.show() .hide()」対策のため、    */
/*「!important」は使わず、「#BODY ～」としている */
#BODY .block {display:block;}
#BODY .block:hover {text-decoration:none;}
#BODY .iblock {display:inline-block;}
#BODY .iblock:hover {text-decoration:none;}
#BODY .tcell {display:table-cell;}
#BODY .tcell:hover {text-decoration:none;}
#BODY .flex {display:flex;}



/* 表示・非表示
-----------------------------------------*/

#BODY .hidden {display:none;}
#BODY .pc-hidden {display:none;}


.scrollx {
  display: block;
  width: auto;
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}



/*-------------------------------------------*/
/* ポジション                                */
/*-------------------------------------------*/
.relative { position:relative; }
.absolute { position:absolute; }
.static { position:static; }
.fixed { position:fixed; }
.sticky { position:sticky; top:0; }
