
/* 画像要素
-----------------------------------------*/
.thumb-img,
.fix-img {
	max-width:100%;
	height:auto;
}
.fix-img.md-full {
	width:100%;
}

/*-------------------------------------------*/
/* 画像半透明化（ホバー時）                  */
/*-------------------------------------------*/
.bnr-opacity a img {
	transition:none;
}


/*-------------------------------------------*/
/* トップ画像                                */
/*-------------------------------------------*/
.top-img img,
.top-img {
	width:100%;
	height:auto;
}
