
/*-------------------------------------------*/
/* テキスト                                  */
/*-------------------------------------------*/

.txt.md-main {
}

.t-copy {
	margin-left:5px;
	margin-right:5px;
}


/* ぶら下がりインデント
-----------------------------------------*/
.notes {
	font-size:11px;
}
.example {
	font-size:11px;
}



/* テキストサイズ
-----------------------------------------*/
.sp-t10 {font-size:10px !important;}
.sp-t11 {font-size:11px !important;}
.sp-t12 {font-size:12px !important;}
.sp-t13 {font-size:13px !important;}
.sp-t14 {font-size:14px !important;}
.sp-t15 {font-size:15px !important;}
.sp-t16 {font-size:16px !important;}
.sp-t17 {font-size:17px !important;}
.sp-t18 {font-size:18px !important;}
.sp-t19 {font-size:19px !important;}
.sp-t20 {font-size:20px !important;}
.sp-t21 {font-size:21px !important;}
.sp-t22 {font-size:22px !important;}
.sp-t23 {font-size:23px !important;}
.sp-t24 {font-size:24px !important;}
.sp-t25 {font-size:25px !important;}
.sp-t26 {font-size:26px !important;}
.sp-t27 {font-size:27px !important;}
.sp-t28 {font-size:28px !important;}
.sp-t29 {font-size:29px !important;}
.sp-t30 {font-size:30px !important;}
.sp-t31 {font-size:31px !important;}
.sp-t32 {font-size:32px !important;}
.sp-t33 {font-size:33px !important;}
.sp-t34 {font-size:34px !important;}
.sp-t35 {font-size:35px !important;}
.sp-t36 {font-size:36px !important;}
.sp-t37 {font-size:37px !important;}
.sp-t38 {font-size:38px !important;}
.sp-t39 {font-size:39px !important;}
.sp-t40 {font-size:40px !important;}
.sp-t42 {font-size:42px !important;}
.sp-t46 {font-size:46px !important;}
.sp-t-large {font-size:1.2em;}
.sp-t-small {font-size:0.9em;}


/* 行幅
-----------------------------------------*/
.sp-lh0-8 {line-height:0.8 !important;}
.sp-lh0-9 {line-height:0.9 !important;}
.sp-lh1-0 {line-height:1.0 !important;}
.sp-lh1-1 {line-height:1.1 !important;}
.sp-lh1-2 {line-height:1.2 !important;}
.sp-lh1-3 {line-height:1.3 !important;}
.sp-lh1-4 {line-height:1.4 !important;}
.sp-lh1-5 {line-height:1.5 !important;}
.sp-lh1-6 {line-height:1.6 !important;}



/* テキスト揃え
-----------------------------------------*/
.sp-t-left {
	text-align:left !important;
}
.sp-t-right {
	text-align:right !important;
}
.sp-t-center {
	text-align:center !important;
}
