
/*-------------------------------------------*/
/* ボーダー                                  */
/*-------------------------------------------*/
.sp-bt01 {border-top:1px solid #CCC !important;}

.sp-bb01 {border-bottom:1px solid #CCC !important;}
.sp-bb02 {border-bottom:1px solid #999 !important;}
.sp-bb_rd {border-bottom:1px solid #C63329 !important;}
.sp-bb-none {border-bottom:none !important;}

.sp-bl-none {border-left:none !important;}
.sp-bl01 {border-left:1px solid #CCC !important;}

.sp-br-none {border-right:none !important;}
.sp-br01 {border-right:1px solid #CCC !important;}

.sp-b00  {border:1px dotted #CCC !important;}
.sp-b01  {border:1px solid #CCC !important;}

.sp-b-none {border:none !important;}
