


/*=========================================*/
/*layout*/
/*=========================================*/

/*-------------------------------------------*/
/* 全体レイアウト                            */
/*-------------------------------------------*/
body {
  font-size:100%;
  color:#333;
}

.header,
.gnav,
.footer {
  width:100%;
  margin:0;
}
.container {
  width:1200px;
  margin:0 auto;
  position:relative;
}

/*-------------------------------------------*/
/* ヘッダー
/*-------------------------------------------*/
.header {
  // position: fixed;
  // z-index: 100;
  // top: 0;
  background-color:#FFF;
  transition: all 0.4s linear;
  .header-container {
    padding:10px 0;
    transition: all 0.2s linear;
  }
  .header-mini-menu {
    background-color: #F5F5F5;
    margin-top: -10px;
    margin-bottom: 15px;
    .items {
      padding: 5px 10px;
      .item {
        &:hover {
          .el-name {
            text-decoration: underline;
          }
        }
        .el-name {
          font-weight:normal;
        }
      }
    }
  }
  .site-name {
    color:#888;
    font-size:2.5em;
    font-weight:bold;
  }
}

.header.transform {
  background-color:transparent;
  .header-container {
    height:0px;
    padding-top:0;
    padding-bottom:0;
    overflow: hidden;
  }
}

/*-------------------------------------------*/
/* グローバルナビ
/*-------------------------------------------*/
.gnav {
  .gnav-container {
  	text-align:left;
    &:after {
    	content:".";
    	display:block;
    	height:0;
    	font-size:0;
    	clear:both;
    	visibility:hidden;
    }
  }
  .gnav-items {
  }
  .gnav-item {
    display:inline-block;
    -moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
  	-ms-box-sizing:border-box;
  	box-sizing:border-box;
  	display:inline-block;
  	width:12%;
  	margin-left: 10px;
    &:first-child {
      margin-left: 0px;
    }
    & > a {
    	display:block;
    	padding:20px 10px 5px;
    	text-align: left;
    	color:#888;
    	font-size:1rem;
    	border-bottom:3px solid #999;
      &:hover {
      	text-decoration:none;
      	color:#555;
      	border-color:#2987D8;
      }
    }
  }
  .gnav-item-link {
    display:block;
    padding:10px 20px;
  }
}

.header.transform .gnav {
  background-color:rgba(240,240,240,0.95);
}


/*-------------------------------------------*/
/* メイン
/*-------------------------------------------*/
.main {
  margin:20px;
  margin-top:50px;
  .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
  }
}


/*-------------------------------------------*/
/* パンくずリスト                            */
/*-------------------------------------------*/
.breadcrumb {
  color:#444;
  font-size:12px;
  padding:6px 0 5px;
  width:100%;
  margin:10px 0 5px;
  .item {
    list-style:none;
    display:inline-block;
    margin-bottom:2px;
    &:after {
      content:' >';
      padding-left:3px;
      display:inline-block;
      font-size:1em;
      visibility: visible;
    }
    &.current {
      text-decoration:underline;
      &:after {
        content:'';
      }
    }
    &.current strong {
      font-weight:normal;
    }
  }
}


/*-------------------------------------------*/
/* サイドバー
/*-------------------------------------------*/
.sidebar {
  float:right;
  width: 20%;
  font-size:1rem;
  margin:10px 0 50px;
  margin-left: 4%;
  .sidebar-sticky {
    position: sticky;
    top: 60px;
  }
}


/*-------------------------------------------*/
/* コンテンツ                                */
/*-------------------------------------------*/
.content {
  float:left;
  width:76%;
  overflow:visible !important;
  position:relative;
  margin:10px 0 50px;
  padding:0;
  font-size:1em;
  /* clearfix処理 */
  &:after {
    content:".";
    display:block;
    height:0;
    font-size:0;
    clear:both;
    visibility:hidden;
  }
}


/*-------------------------------------------*/
/* フッダー
/*-------------------------------------------*/
.footer {
  clear:both;
  background-color:#F5F5F5;
  font-size:0.9rem;
  .footer-container {
    padding:20px;
  }
  .copyright {
    display:block;
    font-size:10pt;
    color:#666;
    text-align:center;
    margin:0;
    padding:10px;
  }
}
