
/*-------------------------------------------*/
/* item                                      */
/*-------------------------------------------*/
a.item {
  transition:all 0.2s ease-in-out;
}
a.item:hover .el-thumb-img,
.item a:hover .el-thumb-img {
  opacity:0.8;
}
.item {
  display:block;
  position:relative;
  margin:0 0 10px;
  &:hover {
    text-decoration:none;
  }
  &:after {
    content:".";
    display:block;
    height:0;
    font-size:0;
    clear:both;
    visibility:hidden;
    transition:all 0.2s ease-in-out;
  }
  .el-figure,
  .el-thumb {
    position:relative;
    display:block;
    margin-bottom:2px;
  }
  &.media .el-figure,
  &.media .el-thumb {
    margin-bottom:0px;
  }
  .el-thumb-img {
    max-width:100%;
    transition:all 0.2s ease-in-out;
  }
  .el-body {
    position:relative;
    display:block;
  }
  .el-maker,
  .el-name {
    display:block;
    color:#333;
  }
  .el-num,
  .el-code {
    font-size:14px;
    font-weight:bold;
    display:block;
  }
  .el-maker {
    font-size:12px;
  }
  .el-name {
    font-size:14px;
    font-weight:bold;
  }
  .el-sub-name {
    font-weight: normal;
    font-size: 11px;
    color:#333;
  }
  .el-subname {
    font-size:14px;
  }
  .el-maker-price {
    font-size:12px;
    color:#666;
    text-decoration:line-through;
  }
  .el-price {
    color:#C63329;
    font-size:14px;
    font-weight:bold;
    display:block;
  }
  .el-price.md-none {
    color:#666;
    font-weight:normal;
  }
  .el-price-note {
    color:#666;
    font-size:12px;
    font-weight:normal;
    display:inline;
  }
  .el-info {
    font-size:13px;
    color:#333;
    display:block;
  }
  .el-txt {
    font-size:12px;
    color:#555;
    display:block;
    margin:2px 0;
  }
  /* .icons.md-feat */
  .icons.md-feat {
    position:absolute;
    bottom:0;
    right:3px;
  }
}





/*-------------------------------------------*/
/* items                                     */
/*-------------------------------------------*/
.items {
  /* 余白調整
  -------------------------------------------*/
  &.md-mb00 .item {
    margin:0 0 0px;
  }
  &.md-mb05 .item {
    margin:0 0 5px;
  }
  &.md-mb10 .item {
    margin:0 0 10px;
  }
  &.md-mb15 .item {
    margin:0 0 15px;
  }
  &.md-mb20 .item {
    margin:0 0 20px;
  }
  &.md-mb30 .item {
    margin:0 0 30px;
  }
  &.md-mb40 .item {
    margin:0 0 40px;
  }
  /* .item.md-no-overflow
  -------------------------------------------*/
  &.md-no-overflow .item {
    overflow:hidden;
  }
  /* md-series
  -------------------------------------------*/
  &.md-series .item {
    position:relative;
    display:block;
    border-bottom:1px solid #CCC;
    padding:0 0 8px;
    line-height:1.4;
    &:hover {
      border-color:#FF8B08;
      text-decoration:none;
    }
    .el-name {
      display:block;
      color:#333;
      font-weight:bold;
    }
    .el-price {
      display:block;
      color:#E10A17;
      font-weight:bold;
    }
    .icons.md-spec {
      display:block;
      font-size:10px;
      margin:0 0 3px;
      position:absolute;
      left:3px;
      top:120px;
    }
    .icons.md-spec img {
      vertical-align:middle;
      margin-right:2px;
      width:auto;
      height:24px;
    }
  }
  /* .item.md-polaroid
  -------------------------------------------*/
  &.md-polaroid .item {
    padding:5px;
    background-color:#FFF;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  }
  /* .item.md-page-menu
  -------------------------------------------*/
  &.md-page-menu .item {
    padding:5px;
    background-color:#FFF;
    border-color:#BBB;
    border-width:5px;
    border-style:solid;
    margin-bottom:20px;
    &:after {
      visibility:visible;
      bottom: -17px;
      left: 0;
      right: 0;
      margin:0 auto;
      content: "";
      height: 0;
      width: 0;
      display:block;
      position: absolute;
      border: solid transparent;
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #BBB;
      border-top-width: 15px;
      border-bottom-width: 0px;
      border-left-width: 15px;
      border-right-width: 15px;
      z-index:1;
    }
    &:before {
      bottom: -9px;
      left: 0;
      right: 0;
      margin:0 auto;
      content: "";
      height: 0;
      width: 0;
      display:block;
      position: absolute;
      border: solid transparent;
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #FFF;
      border-top-width: 9px;
      border-bottom-width: 0px;
      border-left-width: 8px;
      border-right-width: 8px;
      z-index:2;
    }
    &:hover {
      border-color:#EFA63D;
      &:after {
        border-top-color:#EFA63D;
      }
    }
  }
  /*
  -------------------------------------------*/
  &.md-horizontal > .item {
    display:inline-block;
    border:none !important;
    & + .item:before {
      content: "｜ ";
    }
  }
  /*
  -------------------------------------------*/
  &.md-supplement > .item {
    font-size:0.8rem;
    color:#555;
  }
  /* ライン形式
  -------------------------------------------*/
  &.md-lined {
    padding:0 2px;
    margin:0;
    .item {
      padding:2px 0;
      margin:0;
      margin-bottom:0;
      border-top:none;
      border-bottom:1px solid #DDD;
      a {
        padding:4px 5px;
        margin:0;
        display:block;
        border-radius:2px;
        &:hover {
          text-decoration:none;
          background-color:rgba(0,0,0,0.1);
        }
      }
    }
  }
  /* フレーム形式
  -------------------------------------------*/
  &.md-framed {
    .item {
      padding:2px;
      border:1px solid #DDD;
      .el-body {
        margin:2px;
      }
      &.md-framed a {
        padding:4px 5px;
        margin:0;
        display:block;
        border-radius:2px;
        &:hover {
          text-decoration:none;
          background-color:rgba(0,0,0,0.1);
        }
      }
      .el-induction {
        display:inline-block;
        position:absolute;
        bottom:0px;
        right:0px;
        background-color:#AAA;
        color:#FFF;
        font-size:11px;
        padding:2px 7px;
        border-radius:4px 0 0 0;
        transition:all 0.2s ease-in-out;
      }
      &:hover .el-induction {
        background-color:#EFA63D;
        color:#FFF;
      }
    }
    a.item:hover {
      border-color:#EFA63D;
    }
    /* フレーム太さ
    -------------------------------------------*/
    &.md-p05 .item {
      padding:5px;
    }
    &.md-frame02 .item {
      border-width:2px;
    }
  }
  /* 横メニュー
  -------------------------------------------*/
  &.md-h-menu {
    padding:3px 10px;
    text-align:center;
    .item {
      display: inline-block;
      margin-bottom:0;
      vertical-align:top;
      & + .item:before {
        content: '｜ ';
      }
      .el-item-link {
        display: inline-block;
      }
    }
  }
}
