
/*-------------------------------------------*/
/* ラベルグループ
/*-------------------------------------------*/
.labels {
  display:block;
  margin:2px 0;
  &.md-top-left {
    position:absolute;
    top:0px;
    left:0px;
  }
  &.md-top-right {
    position:absolute;
    top:0px;
    right:0px;
  }
  &.md-bottom-left {
    position:absolute;
    bottom:0px;
    left:0px;
  }
  &.md-bottom-right {
    position:absolute;
    bottom:0px;
    right:0px;
  }
}


/*-------------------------------------------*/
/* ラベル                                    */
/*-------------------------------------------*/
.label {
  display:inline-block;
  /*-------------------------------------------*/
  /* ラベルの配置
  /*-------------------------------------------*/
  &.md-top-left {
    position:absolute;
    top:4px;
    left:4px;
  }
  &.md-top-right {
    position:absolute;
    top:4px;
    right:4px;
  }
  &.md-bottom-left {
    position:absolute;
    bottom:4px;
    left:4px;
  }
  &.md-bottom-right {
    position:absolute;
    bottom:4px;
    right:4px;
  }
  /*-------------------------------------------*/
  /* .label.md-txt-label テキストラベル
  /*-------------------------------------------*/
  &.md-txt-label {
    background-color:#999;
    display:inline-block;
    *display:inline;
    color:#FFF;
    font-weight:normal;
    padding:2px 5px;
    font-size:11px;
    border-radius:1px;
    letter-spacing:normal;
    margin:1px;
    &.md-basic-info {
      background-color:#F08300;
    }
    &.md-price {
      background-color:#F14950;
    }
    &.md-recomend {
      background-color:#F08300;
    }
    &.md-gray {
      background-color:#999 !important;
    }
    &.md-gray-border {
      background-color:#EEE !important;
      border:1px solid #CCC !important;
      color:#666 !important;
    }
    &.md-red {
      background-color:#F14950 !important;
      border:none !important;
      color:#FFF !important;
    }
    &.md-pink {
      background-color:#DB5D9D !important;
      border:none !important;
      color:#FFF !important;
    }
    &.md-orange {
      background-color:#F08300 !important;
      border:none !important;
      color:#FFF !important;
    }
    &.md-brown {
      background-color:#877E7A !important;
      border:none !important;
      color:#FFF !important;
    }
    &.md-blue {
      background-color:#3B7EA8 !important;
      border:none !important;
      color:#FFF !important;
    }
    &.md-light-blue {
      background-color:#4192D5 !important;
      border:none !important;
      color:#FFF !important;
    }
    &.md-light-green {
      background-color:#90C030 !important;
      border:none !important;
      color:#FFF !important;
    }
  }
  /*-------------------------------------------*/
  /* .label.md-img-label 画像ラベル
  /*-------------------------------------------*/
  &.md-img-label {
    position:absolute;
    top:0px;
    left:0px;
    &.md-right {
      left:auto;
      right:0px;
    }
    &.md-top-left {
      top:0px;
      left:0px;
    }
    &.md-top-right {
      top:0px;
      right:0px;
      left:auto;
    }
    &.md-bottom-left {
      bottom:0px;
      left:0px;
      top:auto;
    }
    &.md-bottom-right {
      bottom:0px;
      right:0px;
      top:auto;
      left:auto;
    }
  }
}
