
/*-------------------------------------------*/
/* media                                     */
/*-------------------------------------------*/
.media {
  *zoom:1;
  display:block;
  &:after {
    content:"\0020";
    display:block;
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
  }
  .el-figure,
  .el-thumb {
    float:left;
    margin-right:10px;
    img {
      display:inline-block;
    }
    &.md-right {
      float:right;
      margin-right:0px;
      margin-left:10px;
    }
  }
  .item .el-figure,
  .item .el-thumb {
    float:none;
    margin-right:0px;
  }
  .el-body {
    overflow:hidden;
  }
  .el-caption {
    font-size:12px;
    color:#666;
  }

  /* md-gutter
  -------------------------------------------*/
  &.md-gutter05 {
    .el-figure,
    .el-thumb {
      margin-right:5px;
      &.md-right {
        margin-right:0px;
        margin-left:5px;
      }
    }
  }
  &.md-gutter20 {
    .el-figure,
    .el-thumb {
      margin-right:20px;
      &.md-right {
        margin-right:0px;
        margin-left:20px;
      }
    }
  }

  /* md-table
  -------------------------------------------*/
  &.md-table {
    display:table;
    .el-figure,
    .el-thumb {
      display:table-cell;
      margin-right:0;
      padding-right:10px;
      img {
        display:block;
      }
      &.md-right {
        margin-left:0;
        padding-right:0px;
        padding-left:10px;
      }
    }
    .el-body {
      display:table-cell;
      vertical-align:top;
      overflow:hidden;
    }
    .el-body.middle,
    .el-body.md-middle {
      vertical-align:middle;
    }

    /* md-table md-gutter
    -------------------------------------------*/
    &.md-gutter05 {
      .el-figure,
      .el-thumb {
        padding-right:5px;
        &.md-right {
          padding-left:5px;
        }
      }
    }
  }
}
