

/*-------------------------------------------*/
/* 参考価格                                  */
/*-------------------------------------------*/
.heading.md-sample-price.md-outside {
  font-size:15px;
  color:#777;
  line-height:1.0;
}
.sample-price-area {
  border-top:3px solid #E5E5E5;
  border-bottom:3px solid #E5E5E5;
  padding:5px;
  .heading.md-sample-price {
    background-color:#E5E5E5;
    color:#444;
    padding:5px 10px;
    margin:-5px -5px 5px;
  }
  .el-body {
    padding:5px;
  }
  .el-item-name {
    font-weight:bold;
    margin:0 0 3px;
  }
  .el-maker-price {
    display:inline;
    color: #666;
    font-size: 14px;
    font-weight: normal;
  }
  .el-price {
    display:inline;
    color: #BC3C33;
    font-size: 22px;
    font-weight: bold;
  }
  /* 参考価格
  -------------------------------------------*/
  &.md-compact {
    border:4px solid #DDD;
    padding:10px 10px 0;
    .el-name {
      margin:0 0 2px;
      font-weight:bold;
      font-size:14px;
    }
    .el-maker-price {
      color:#777;
      font-size:12px;
      margin:2px 0;
    }
    .el-description {
      color:#333;
      margin:0 1em 7px;
    }
    .el-price {
      font-size:16px;
      margin:0 0 0 20px
    }
    .top_icon_area {
      text-align:center;
      margin:0 0 5px;
    }
    .top_icon_area img {
      background-color:#999;
      border-radius:3px;
      width:70px;
      height:70px;
      margin:0 4px 5px 0;
    }
    img.label_discount {
      vertical-align:baseline;
      margin:0 0 -4px;
    }
  }
  /* 参考価格
  -------------------------------------------*/
  &.md-basic {
    border-top:4px solid #DDD;
    border-bottom:4px solid #DDD;
    padding:10px 10px 0;
    .el-name {
      margin:0 0 2px;
      font-weight:bold;
      font-size:14px;
    }
    .el-maker-price {
      color:#777;
      font-size:12px;
      margin:2px 0;
    }
    .el-description {
      color:#333;
      margin:0 1em 7px;
    }
    .el-price {
      font-size:16px;
      margin:0 0 0 20px
    }
    .top_icon_area {
      text-align:center;
      margin:0 0 5px;
    }
    .top_icon_area img {
      background-color:#999;
      border-radius:3px;
      width:70px;
      height:70px;
      margin:0 4px 5px 0;
    }
    img.label_discount {
      vertical-align:baseline;
      margin:0 0 -4px;
    }
  }
}
