
/*-------------------------------------------*/
/* 関連商品一覧                              */
/*-------------------------------------------*/

.related-area {
  .item {
    .el-thumb,
    .el-name,
    .el-price {
      display:block;
    }
    .el-thumb {
      text-align:center;
    }
    .el-name {
      color:#333;
      font-weight:bold;
    }
    .el-price {
      color:#C63329;
    }
  }
}
