
/*-------------------------------------------*/
/* サブフッター                              */
/*-------------------------------------------*/
.sub-footer {
  border-top:1px solid #CCC;
  border-bottom:1px solid #CCC;
  clear:both;
  background-color:#F5F5F5;
  padding:20px 10px;
  margin:0;
  a {
    &,
    &:link
    &:active
    &:visited {
      color:#005C9C;
      transition:all 0.2s ease-in-out;
    }
    &:hover {
      /*opacity:0.8;
      filter:alpha(opacity=80);
      zoom:1;
      text-decoration:none;*/
    }
  }
  .heading {
    font-size:17px;
    font-weight:bold;
    color:#515146;
    border:none;
    i {
      &:before {
        margin:-5px 8px 0 3px;
      }
      &.fontello-megaphone {
        padding:0 0 10px;
        margin-right:0px;
        &:before {
          font-size:32px;
        }
      }
    }
    &.md-first {
      font-size:18px;
      margin:0 0 5px;
      i:before {
        margin:-5px 8px 0 3px;
      }
    }
    &.md-second {
      font-size:15px;
      margin:0 0 10px;
      border-bottom:1px dashed #999;
    }
    &.md-third {
      font-size:13px;
      margin:0 0 2px;
    }
  }
  hr {
    margin-bottom:10px;
  }
  /* リンクアイテム
  -------------------------------------------*/
  .items.md-lined {
    padding:0 2px;
    margin:0;
    .item {
      padding:2px 0;
      margin:0;
      margin-bottom:0;
      border-top:none;
      border-bottom:1px solid #DDD;
      a {
        padding:4px 5px;
        margin:0;
        display:block;
        border-radius:2px;
        &:hover {
          text-decoration:none;
          background-color:rgba(0,0,0,0.1);
        }
      }
    }
  }
}
