
/*-------------------------------------------*/
/* 在庫関連                                  */
/*-------------------------------------------*/
.zaiko {
  font-size:12px;
  color:#F00;
  font-weight:normal;
  text-align:center;
  display:block;
  .el-name {
    font-weight:bold;
  }
  /* 「入荷待ち」
  -------------------------------------------*/
  &.md-no,
  &.md-end {
    margin-top:3px;
    color:#FFF;
    background-color:#F00;
    padding:5px;
  }
  /* 「在庫僅少」
  -------------------------------------------*/
  &.md-few {
    margin-top:3px;
    color:#F00;
    border:1px dotted #CCC;
    padding:5px;
  }
}
