
/*-------------------------------------------*/
/* 見積もりボタンエリア                      */
/*-------------------------------------------*/
.estimate-area {
	.el-flow {
		display:none;
	}
	.el-copy {
	}
	.el-btn-area {
	}
	.el-btn-area img {
		max-width:98%;
		height:auto;
	}
}
