

/*-------------------------------------------*/
/* アンカー・メニュー anchor-menu            */
/*-------------------------------------------*/


/*-------------------------------------------*/
/* ヨコ型メニュー h-menu                     */
/*-------------------------------------------*/

.h-menu {
	.el-item {
		display:block;
		& + .el-item:before {
			content:"";
		}
	}
}


/*-------------------------------------------*/
/* メニューバー menu-bar                     */
/*-------------------------------------------*/

.menu-bar{
	margin:0 5px;
}
