
/* リスト関係
-----------------------------------------*/
ul.sp-li02 > li {margin-top:2px; margin-bottom:2px;}
ul.sp-li05 > li {margin-top:5px; margin-bottom:5px;}
ul.sp-li08 > li {margin-top:8px; margin-bottom:8px;}
ul.sp-li10 > li {margin-top:10px; margin-bottom:10px;}
ul.sp-li15 > li {margin-top:15px; margin-bottom:15px;}
ul.sp-li20 > li {margin-top:20px; margin-bottom:20px;}
ul.sp-li25 > li {margin-top:25px; margin-bottom:25px;}
ul.sp-li30 > li {margin-top:30px; margin-bottom:30px;}
